<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic!!!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Welcome to Justin and Ubaldo's Traffic Predicting Website</h1>

    <center>
        <div class="container">
            <button onclick="location.href='/storedata'" type="button">
             Click to store Data</button>
            <button onclick="location.href='/predictdata'" type="button">
             Click to predict Traffic</button>
        </div>
    </center>
</body>
</html>